<% provide(:title, 'About Us') %>

<title>Ruby on rails tutorial sample app | <%= yield(:title) %></title>
<h1>About Us</h1>
<p>This is the long sentence I did not want to write from the tutorial.</p>